{% extends "start.html" %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
    <h2>Оформление заказа</h2>
    <div class="input-group input-group-sm mb-3">
    <div >
        <h3>Ваш заказ</h3>

        <ul>
            {% for item in korzina %}
            <li>
                {{ item.quantity }}x {{ item.product.name }}
                <span>${{ item.total_price }}</span>
            </li>
            {% endfor %}
            {% if korzina.kupon %}

            "{{ korzina.kupon.code }}" ({{ korzina.kupon.discount }}% sale)
            <span>- ${{ korzina.get_discount|floatformat:"2" }}</span>

    {% endif %}
</ul>


        <p>Total: ${{ korzina.get_total_price_after_discount|floatformat:"2" }}</p>
    </div>

        <div class="input-group-text" id="inputGroup-sizing-sm">
        <spanp> Ваш номер: {{user.tel}} </spanp>

        <form action="." method="POST" >
            {% csrf_token %}
            <br>
           <span> {{ form.as_p }} </span>

            <p><input type="submit" value="Оплатить заказ"></p>

        </form>
        </div>
    </div>
{% endblock %}